.bg-accent-outline {
    border: 2px solid var(--accent-primary);
    border-radius: 0;
    padding: 5px 25px;
    transition: all .25s ease-in-out;
}

.bg-accent-outline:hover {
    border: 2px solid var(--accent-primary);
    background: var(--accent-primary);
    color: white;
}

[class*="btn"] .btn-inner {
    transition: all .25s ease-in-out;
}

.btn-main .btn-inner {
    background: var(--accent-primary);
    color: white;
}

.btn-main:hover .btn-inner {
    background: var(--accent-secondary);
}

.btn-second .btn-inner {
    background: rgba(255, 255, 255, .11);
    color: #c38862;
}

.btn-second:hover .btn-inner {
    background: rgba(255, 255, 255, 1);
    color: #c38862;
}

.btn-tertiary .btn-inner {
    background: var(--accent-primary-light);
    color: black;
}

.btn-tertiary:hover .btn-inner {
    background: var(--accent-primary);
    color: black;
}

.btns:hover .btn-inner {
    background: var(--accent-primary);
    color: white;
}