input.gform_button.button {
  background-color: #252525;
  border: none;
  padding: 10px 35px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  max-width: 250px;
  width: 100%;
  margin: auto;
  cursor: pointer;
  color: white;
  box-shadow: none !important;
  position: relative;
  margin-bottom: 0 !important;
  font-weight: 700;
}

footer .gform_wrapper.gravity-theme .gfield_label,
footer .gform-body label {
  color: white;
  margin-bottom: 0 !important;
  line-height: 1;
  margin-right: 11px;
}

footer .gform_wrapper.gravity-theme .gfield {
  display: flex;
  align-items: end;
}

footer .gform_footer.top_label {
  display: inline-block !important;
  /* border: 1px solid #252525; */
  margin-top: 20px !important;
  padding: 5px !important;
  transition: all 0.25s ease-in-out;
}

.gform_footer.top_label:hover {
  background: transparent;
}

input.gform_button.button:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--accent-primary);
}

input:focus-visible,
textarea:focus-visible {
  outline-color: var(--accent-secondary);
}

input::placeholder,
textarea::placeholder {
  /* color: red; */
  font-weight: 900;
}

footer input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding-top: 0 !important;
}

input,
textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #988f8a;
}

.ginput_container {
  width: 100%;
}

input[type=file] {
  box-shadow: none !important;
}